@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}



html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background-image: url('../imagens/fundo-madeira.jpg');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;

}


main {
    height: 100vh;
    position: relative;
}

#telefone {
    background-image: url('../imagens/frame-iphone.png');
    background-repeat: no-repeat;
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 39.2em;
    width: 19.3em;
    border-radius: 3.3em;



}



#redes-sociais a {
    padding: 10px;

}


#redes-sociais img {
    display: block;
    height: 3.5em;
    width: 3.5em;
    border-radius: 50%;

}





